* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Consolas, source-code-pro, Menlo, Monaco, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #333333;
  background-color: #f2f2f2;
}

h1 {
  color: #d1c8e5;
}

h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: scroll;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.frontPageGreetings {
  width: 100%;
  display: block;
  position: relative;
  padding: 2rem 5rem;
}

.outlet {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  margin: auto;
  margin-left: 25%;
  margin-right: 25%;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* PROFILE PAGE */

.userPage {
  width: 100%;
  height: 100%;
}

.userInfo {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: solid 1px #b2b2b2;
  border-left: solid 1px #b2b2b2;
  border-right: solid 1px #b2b2b2;
  position: relative;
  background-color: #dddddd;
}

.userInfo .userAvatar {
  margin-right: 1rem;
}

.userInfo .userUpperInfo {
  flex: 1;
  margin-bottom: 0;
}
.userInfo .userFullName {
  display: flex;
  justify-content: left;
  margin-top: auto;
  color: #666;
  align-self: flex-end;
}

/* RIGHT SIDEBAR */
.sideBar {
  border-left: solid 1px #b2b2b2;
  height: 100%;
  min-width: 25%;
  max-width: 25%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
}

/* POSTS AND POST */

.posts {
  width: 100%;
  padding-right: 1rem;
}

.post {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: solid 1px #b2b2b2;
  position: relative;
}

.post img {
  margin-right: 1rem;
}

.post-content {
  flex: 1;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.post-content h5 {
  margin-bottom: 0;
}

.hashTags {
  margin-top: 2rem;
}

.post-actions {
  display: flex;
  justify-content: left;
  margin-top: auto;
  color: #666;
  align-self: flex-end;
  margin-top: 0rem;
}

.post-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-actions button:focus {
  outline: none;
}

.post-actions button:hover {
  color: #333;
}

.post-actions span {
  margin-right: 1rem;
}

.post button.delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: red;
}

.post button.delete:focus {
  outline: none;
}

.post button.delete:hover {
  color: #cc0000;
}

/* COMMENTS */

.comment {
  display: flex;
  align-items: flex-start;
  padding: 0;
  padding-left: 0;
  padding-bottom: 0;
  border: solid 1px #b2b2b2;
  position: relative;
}
.comment .commentContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.comment button.deleteComment {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: red;
}

.comments button.delete:focus {
  outline: none;
}

.comments button.delete:hover {
  color: #cc0000;
}

.commentField {
  border: 1px solid #0066cc;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.comment-footer {
  display: flex;
}
.commentReactions {
  display: flex;
  justify-content: left;
  margin-top: auto;
  color: #666;
  align-self: flex-end;
  margin-top: 3.5rem;
  margin-bottom: 0rem;
}

.searchTerm:focus {
  color: #0066cc;
}

/* NAVIGATION */

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

.navigation {
  height: 100%;
  min-width: 25%;
  max-width: 25%;
  padding: 1rem 2rem;
  border-right: solid 1px #b2b2b2;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 0;
}
.brand-name {
  text-decoration: none;
  color: #0066cc;
  font-size: 1.3rem;
  margin-left: 0rem;
}
.navigation ul {
  margin-top: 1rem;
  display: block;
  padding: 1rem;
  width: 100%;
  border: 1px solid #0066cc;
  border-radius: 0.25rem;
}
.navigation li {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0rem;
}
.navigation li a {
  text-decoration: none;
  display: block;
  color: #0066cc;
  width: 100%;
}
.navUserInfo {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: 1rem;
  border: 1px solid #0066cc;
  border-radius: 0.25rem;
}
.navUserInfo img {
  max-width: 46px;
  max-height: 46px;
  text-align: left;
}
.navUserInfo p {
  padding: 1rem 0;
}
.navNotificationInfo {
  margin-top: 1rem;
  border: 1px solid #0066cc;
  border-radius: 0.25rem;
}
.buttonLog {
  outline: none;
  padding: 0 16px;
  background-color: #0066cc;
  border-radius: 0.25rem;
  border: 1px solid #0066cc;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

/* SEARCH BAR */
.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 1rem;
}
.searchTerm {
  width: 100%;
  border: 3px solid #0066cc;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.searchTerm:focus {
  color: #0066cc;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #0066cc;
  background: #0066cc;
  text-align: center;
  color: #f8f8f8;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.search-container {
  position: relative;
  width: 100%;
}
.navigation .results-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  border: 3px solid #0066cc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  list-style-type: none;
  z-index: 1;
  margin-top: 0;
}
.search-container ul {
  margin-top: 0;
}
.results-list li {
  padding: 5px;
  cursor: pointer;
}
.results-list li:hover {
  background-color: #f1f1f1;
}

/* NEW POST */
.newPost {
  padding: 1rem;
}
.newPostMessageArea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #0066cc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.tags-input-container {
  border: 1px solid #0066cc;
  padding: 1rem;
  border-radius: 3px;
  width: min(80vw, 600px);
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: #f8f8f8;
}
.tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 1rem;
}
.tag-item .close {
  height: 15px;
  width: 15px;
  background-color: #0066cc;
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 16px;
  cursor: pointer;
}
.tags-input {
  font-size: 16px;
  flex-grow: 1;
  flex-direction: column;
  padding: 0.5em 0;
  border: none;
  outline: none;
  background-color: #f8f8f8;
}
/* TO DARKEN BACKGROUND ON LOGIN/LOGOUT */
.darken-background {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease-out;
}

/* SMALLER SCREEN LAYOUT */
@media (max-width: 768px) {
  /* HIDE SIDEBAR ON MOBILE */
  .sideBar {
    display: none;
  }
  .outlet {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .hamburger {
    display: block;
  }
  .navigation {
    z-index: 10000;
    height: 60px;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    bottom: 0;
  }
  .navExpanded {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }
  .navExpanded.expanded {
    display: block;
  }
  .navigation li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }
}
