* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas, source-code-pro, Menlo, Monaco,  "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #4C3A6B;
  background-color: #F6F6F6;
}

h1 {
  color:#D1C8E5;
}

h2,h3,h4,h5,h6{
  color:#A895C8;
}

.frontPageGreetings {
  width: 100%;
  display:block;
  position: relative;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#outlet{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.userPage {
  padding: 0rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.userMainArea {
  border-right: solid 1px #7967A3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.userSideBar {
  width:25%;
  display: flex;
  flex-direction: column;
}
.userGreetings {
  border-bottom: solid 1px #7967A3;
  display: block;
  padding: 1rem 1rem;
  width: 100%;
  

}
.userGreetings img {
  max-height: 120px;
  float: right;
  display: inline;

}

.post {
  padding: 1rem 1rem;
  border-bottom: solid 1px #7967A3;
  display: flex;
}
.navigation {
  height: 100%;
  min-width: 25%;
  max-width: 25%;
  padding: 1rem 2rem;
  border-right: solid 1px #7967A3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 0rem;
}
.navigation ul {
  display: block;
  padding: 1rem;
  width: 100%;
}
.navigation li {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0rem;
}
.navigation li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .navigation {
    position:fixed;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 20%;
    top: 80%;
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color: white;
  }

  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
    display: none;
  }
 
  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: calc(100vh);
    border-top: 1px solid #D1C8E5;
  }
  .navigation li {
    
    text-align: center;
    display: inline;
    margin: 0;
  }



}
.buttonLog{

  outline: none;
  padding: 0 16px;
  background-color: #0070d2;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 1rem;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #0070d2;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #0070d2;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0070d2;
    background: #0070d2;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
